<div class="wrapper">

  <table>
    <tr>
      <th> Image </th>
      <th> Name </th>
      <th> Description </th>
      <th> Price </th>
      <th> Old price </th>
      <th> Tags </th>
      <th> Actions </th>
    </tr>

    <tr *ngFor="let product of products.rows">
      <td> {{ product.image }} </td>
      <td> {{ product.name}} </td>
      <td class="ellipsis" title="{{ product.description }}"> {{ product.description }} </td>
      <td> {{ product.price }}€ </td>
      <td> {{ product.oldPrice }} € </td>
      <td class="ellipsis" title="{{ product.tags }}"> {{ product.tags }} </td>
      <td>
        <span title="Edit" class="edit-action">
          <ion-icon name="create-outline"></ion-icon>
        </span>

        <span title="Delete" class="delete-action">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
      </td>
    </tr>
  </table>





</div>
