<div class="wrapper">

  <!----------------------
  ---- Products table ----
  ----------------------->
  <div class="above-table">
    <span title="Add product" class="add-product" (click)="showAddNewProductModal = true">
      <ion-icon name="add-circle-outline"></ion-icon>
    </span>

    <label>
      <div class="select-wrapper" style="max-width: 100px;">
        <select [(ngModel)]="limit" (change)="onChangeLimit()">
          <option value="10"> 10 </option>
          <option value="50"> 50 </option>
          <option value="100"> 100 </option>
          <option value="500"> 500 </option>
          <option value="1000"> 1000 </option>
        </select>
      </div>
    </label>
  </div>

  <div class="table-wrapper">
    <table>
      <tr>
        <th> Image </th>
        <th> Name </th>
        <th> Description </th>
        <th> Price </th>
        <th> Old price </th>
        <th> Tags </th>
        <th> Actions </th>
      </tr>

      <tr *ngFor="let product of products.rows">
        <td> <img src="http://localhost:3001/images/{{ product.image }}" alt="{{ product.image }}"> </td>
        <td> {{ product.name}} </td>
        <td class="ellipsis" title="{{ product.description }}"> {{ product.description }} </td>
        <td> {{ product.price }}€ </td>
        <td> {{ product.oldPrice }} € </td>
        <td class="ellipsis" title="{{ product.tags }}"> {{ product.tags }} </td>
        <td>
          <span title="Edit" class="edit-action">
            <ion-icon name="create-outline"></ion-icon>
          </span>

          <span title="Delete" class="delete-action">
            <ion-icon name="trash-outline"></ion-icon>
          </span>
        </td>
      </tr>
    </table>
  </div>

  <!------------------
  ---- Pagination ----
  ------------------->
  <div class="pagination">
    <button class="pagination-button" (click)="previousPage()" [disabled]="disablePrevious()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Previous
    </button>
    <div class="count"> {{ page }} / {{ totalPageCount }} </div>
    <button class="pagination-button" (click)="nextPage()" [disabled]="disableNext()">
      Next<ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>

</div>




<!-----------------------------
---- Add new product MODAL ----
------------------------------>
<div *ngIf="showAddNewProductModal" class="modal">
  <div class="modal-content">
    <span (click)="showAddNewProductModal = false" class="close">&times;</span>
    <h1>Add new product</h1>
    <p>Please fill in the information below.</p>

    <form class="form" [formGroup]="newProductForm" (ngSubmit)="saveNewProduct()" novalidate>
      <label>
          <span> Product name
              <span class="required-input" *ngIf="validateProductNameRequired()"> &nbsp;*Please fill in </span>
          </span>
        <input type="text" formControlName="name">
      </label>

      <label class="file-upload"> Upload image
        <input (change)="processFile($event)" name="image" type="file" accept="image/png, image/jpeg" formControlName="image">
        <ion-icon class="upload-icon" name="cloud-upload-outline"></ion-icon>
      </label>

      <label>
          <span> Article number
              <span class="required-input" *ngIf="validateArticleNrRequired()"> &nbsp;*Please fill in </span>
          </span>
        <input type="text" formControlName="articleNr">
      </label>

      <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <label>
            <span> Price
                <span class="required-input" *ngIf="validatePriceRequired()"> &nbsp;*Please fill in </span>
            </span>
          <input type="text" formControlName="price" style="max-width: 165px;">
        </label>

        <label> Old price
          <input type="text" formControlName="oldPrice" style="max-width: 165px;">
        </label>
      </div>

      <label>
          <span> Description
              <span class="required-input" *ngIf="validateDescriptionRequired()"> &nbsp;*Please fill in </span>
          </span>
        <textarea type="text" formControlName="description"></textarea>
      </label>

      <label>
          <span> Tags
              <span class="required-input" *ngIf="validateTagsRequired()"> &nbsp;*Please fill in </span>
          </span>
        <textarea type="text" formControlName="tags"></textarea>
      </label>

      <div class="arrange-buttons">
        <button class="button-big" [disabled]="!newProductForm.valid">Add new product</button>
        <button (click)="showAddNewProductModal = false" class="button-big-cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>


