$grey_text_color: rgb(104,104,104);
$disabled_input_background_color: rgb(244,244,244);
$required_input_label_text_color: #B22222;



$button_big_color: rgb(255,255,255);
$button_big_background_color: rgb(40,40,40);