$grey_text_color: rgb(104,104,104); // main text color



/**
Button Big
 */
$button_big_color: rgb(255,255,255); // color of big button
$button_big_background_color: rgb(40,40,40); // background color of big button
$button_big_color_disabled: rgb(245,245,245); // color of disabled big button
$button_big_background_color_disabled: rgb(88,88,88); // background color of disabled big button

/**
Inputs
 */
$disabled_input_background_color: rgb(244,244,244); // color of disabled input
$required_input_label_text_color: #B22222; // color of label -> "Please fill in" hint
$input_border: #efefef; // border color of input
