/***********************
**** Top navigation ****
***********************/
.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  background-color: rgb(255,255,255);
  border-bottom: 1px solid silver;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .admin-panel-text {
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F
  }

  ul {
    display: flex;
    gap: 40px;
  }
}

/************************
**** Side navigation ****
************************/
.side-nav {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 100%);
  position: fixed;
  left: 0;
  top: 59px;
  bottom: 0;
  width: 150px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-size: 0.93em;
      border-radius: 3px;
      transition: 0.2s;
      letter-spacing: 1px;

      &:hover {
        background-color: rgb(220,220,220);
      }

      .activeLinkSidebar {
        background-color: rgb(220,220,220);
      }

      a {
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        color: black;
        border-radius: 3px;

        ion-icon {
          transform: scale(1.3);
        }
      }
    }
  }
}
