<!----------------------
---- Top navigation ----
----------------------->
<div class="top-nav">
  <a class="admin-panel-text"> Admin Panel </a>

  <ul>
    <li> <a> Link </a> </li>
    <li> <a> Link </a> </li>
  </ul>
</div>

<!----------------------
---- Side navigation ----
----------------------->
<div class="side-nav">
  <ul>
    <li> <a [routerLink]="['/admin/dashboard']" routerLinkActive="activeLinkSidebar"> <ion-icon name="apps-outline"></ion-icon> Dashboard </a> </li>
    <li> <a [routerLink]="['/admin/categories']" routerLinkActive="activeLinkSidebar"> <ion-icon name="list-outline"></ion-icon> Categories </a> </li>
    <li> <a [routerLink]="['/admin/products']" routerLinkActive="activeLinkSidebar"> <ion-icon name="pricetag-outline"></ion-icon> Products </a> </li>
    <li> <a [routerLink]="['/admin/customers']" routerLinkActive="activeLinkSidebar"> <ion-icon name="people-outline"></ion-icon> Customers </a> </li>
  </ul>
</div>
