.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8em;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;

    .bar {
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        .search {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            
            input {
                border: none;
                outline: none;
                width: 100%;
                font-size: 1em;
            }
        }

        .pointer {
            cursor: pointer;
        }
    }

    
}