<div class="wrapper">

    <div class="logout">
        <button (click)="logout()" class="logout-button"> Logout </button>
        <p>Welcome back, {{ user.firstName }}</p>
    </div>
    

    <div class="information">
        <div class="orders">
            orders
        </div>

        <div class="addresses">
            adresses
            <div *ngFor="let address of addressListOfUser; let lastItem = last;">
                <div style="display: flex; gap: 5px; margin-bottom: 15px;">
                    <p> {{ address.firstName }} </p>
                    <p> {{ address.lastName }} </p>
                </div>

                <div style="display: flex; flex-direction: column; gap: 3px;">
                    <p> {{ address.address1 }} </p>
                    <p> {{ address.address2 }} </p>
                    <p> {{ address.city }} </p>
                    <p> {{ address.country }} </p>
                </div>
                
                <hr *ngIf="!lastItem" style="margin-top: 15px; margin-bottom: 15px;">
            </div>
            <button (click)="showAddressModal = true" class="button-big" [disabled]="addressCountOfUser > 3">Add new address</button> 
        </div>
    </div>
</div>



<div *ngIf="showAddressModal" class="modal">
    <div class="modal-content">
        <span (click)="showAddressModal = false" class="close">&times;</span>

        <h1>Add new address</h1>

        <p>Please fill in the information below.</p>

        <form style="display: flex; flex-direction: column;" [formGroup]="newAddressForm" (ngSubmit)="saveNewAddress()" novalidate>
            <label> 
                <span> First name 
                    <span class="required-input" *ngIf="validateIsFirstNameSet()"> &nbsp;*Please fill in </span> 
                </span>
                <input type="text" formControlName="firstName">
            </label>
    
            <label> 
                <span> Last name 
                    <span class="required-input" *ngIf="validateIsLastNameSet()"> &nbsp;*Please fill in </span> 
                </span>
                <input type="text" formControlName="lastName">
            </label>

            <label> 
                <span> Company </span>
                <input type="text" formControlName="company">
            </label>
    
            <label> 
                <span> Phone
                    <span class="required-input" *ngIf="validateIsPhoneSet()"> &nbsp;*Please fill in </span> 
                </span>
                <input type="text" formControlName="phone">
            </label>
    
            <label> 
                <span> Address1
                    <span class="required-input" *ngIf="validateIsAddress1Set()"> &nbsp;*Please fill in </span> 
                </span>
                <input type="text" formControlName="address1">
            </label>

            <label> 
                <span> Address2 </span>
                <input type="text" formControlName="address2">
            </label>
    
            <label> 
                <span> City
                    <span class="required-input" *ngIf="validateIsCitySet()"> &nbsp;*Please fill in </span> 
                </span>
                <input type="text" formControlName="city">
            </label>

            <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                <label> 
                    <span> Country
                        <span class="required-input" *ngIf="validateIsCountrySet()"> &nbsp;*Please fill in </span> 
                    </span>
                    <div class="select-wrapper" style="max-width: 195px;">
                        <select formControlName="country">
                            <option> </option>
                            <option *ngFor="let country of countryCodeList | keyvalue" [value]="country.value"> {{ country.key }} </option>
                        </select>
                    </div>
                </label>
    


                

                <label> 
                    <span> Zip code 
                        <span class="required-input" *ngIf="validateIsZipCodeSet()"> &nbsp;*Please fill in </span> 
                        <span class="required-input" *ngIf="validateZipCode()"> &nbsp;*Zip code invalid </span> 
                    </span>
                    <input type="text" formControlName="zipCode" style="max-width: 165px;">
                </label>
            </div>
            

            <div class="checkbox">
                <input type="checkbox" formControlName="isDefault">
                <label> Set address as default </label>
            </div>

            <button class="button-big" [disabled]="!newAddressForm.valid">Add new address</button>
        </form>

    </div>
</div>

<router-outlet></router-outlet>