<div class="wrapper">
    <div class="logout">
        <button (click)="logout()" class="logout-button"> Logout </button>
        <p>Welcome back, {{ user.firstName }}</p>
    </div>

    <div class="information">
        <div class="orders">
            orders
        </div>

        <div class="addresses">
            adresses
            <div *ngFor="let address of addressListOfUser; let lastItem = last;">
                <div style="display: flex; gap: 5px; margin-bottom: 15px;">
                    <p> {{ address.firstName }} </p>
                    <p> {{ address.lastName }} </p>
                </div>

                <div style="display: flex; flex-direction: column; gap: 3px;">
                    <p> {{ address.address1 }} </p>
                    <p> {{ address.address2 }} </p>
                    <p> {{ address.city }} </p>
                    <p> {{ address.country }} </p>
                </div>

                <hr *ngIf="!lastItem" style="margin-top: 15px; margin-bottom: 15px;">
            </div>
            <button (click)="showAddressModal = true" class="button-big" [disabled]="addressCountOfUser > 3">Add new address</button>
        </div>
    </div>
</div>

<!----------------------->
<!-- New address Modal -->
<!----------------------->
<app-new-address-modal
  *ngIf="showAddressModal"
  [(showAddressModal)]="showAddressModal"
  [(addressListOfUser)]="addressListOfUser"
  [(addressCountOfUser)]="addressCountOfUser">
</app-new-address-modal>

<router-outlet></router-outlet>
