@import 'src/app/shared/styles/inputs';
@import 'src/app/shared/styles/text';

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 1% auto;

    .logout {
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
            width: 100px;
            cursor: pointer;
        }
    }

    .information {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .addresses {
            display: flex;
            flex-direction: column;
        }
    }
}
